.notifications-panel {
    width: 40rem;
    max-width: 400px;
    background: #fbf9f9;
    border-radius: 20px;
    padding: 17px;
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 10vh; /* Ensures full height */
    padding-bottom: 90px;
    
  }
  
  .Noti {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #fbf8f8;
    background-color: #000000;  
    padding: 12px;
    border-radius: 10px;
    text-align: center;  
    padding-left:40px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .notification-item{
    
    color: #0f0f0f;
    border-radius: 10px;
    width: 23rem;
    justify-content: center;
    align-items: center;
    padding: 1.8px;
    
  }
  .expensecontainer{
    background-color: rgb(252, 61, 61);

  }
  .incomecontainer{
    background-color:rgb(66, 248, 81);
  }
  .notification-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
    margin-bottom: 10rem;
  }