.body,html{
    margin: 0px;
    padding: 0px;
  

    
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    height: 150vh;
    width : 150vw;
   
    
    
  }
  
  /* Card */
  .containercard {
    background-color: rgb(251, 246, 246);
    border-radius: 24px;
    max-width: 350px;
    width: 100%;
    padding: 30px;
    text-align: center;
    box-shadow: 20px 10px 10px rgba(224, 11, 25, 0.1);
  }
  
  /* Image */
  .Imagecard {
    display: flex;
    justify-content: center;
  }
  
  .WalletImage {
    width: 170px;
    height: 160px;
    object-fit: cover;
  }
  
  /* Title */
  .Title {
    font-size: 20px;
    font-weight: bold;
    color: #1f2937; /* Dark gray */
    margin-top: 15px;
  }
  
  /* Subtitle */
  .Subtitle {
    color: #6b7280; /* Gray */
    font-size: 14px;
    margin-top: 10px;
  }
  
  /* Button */
.Startbutton {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #2c9caf;
  background-color: black;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #000000;
}

.Startbutton:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.Startbutton::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #22bdd8;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.Startbutton:hover::before {
  width: 250%;
}